{% extends 'base.html' %}

{% block content %}
{% load static %}


<div class="container mt-5">
    <h1 class="text-center">Matches</h1>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Match</th>
                <th>Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for match in matches %}
            <tr>
                {% if match.is_completed %}
                    <td>
                        {{ match.team1 }} vs {{ match.team2 }} 
                        ({{ match.score_team1 }} - {{ match.score_team2 }})
                        {% if match.is_penalty %}
                            <div>
                                <strong>Penalty:</strong>
                                <br>
                                <span>{{ match.team1 }}:</span>
                                {% for penalty in match.penalty_team1 %}
                                    {% if penalty == '1' %}
                                        <span class="badge bg-success rounded-circle" style="width: 12px; height: 12px;"> </span> <!-- Goal -->
                                    {% else %}
                                        <span class="badge bg-danger rounded-circle" style="width: 12px; height: 12px;"> </span> <!-- Miss -->
                                    {% endif %}
                                {% endfor %}
                                <br>
                                <span>{{ match.team2 }}:</span>
                                {% for penalty in match.penalty_team2 %}
                                    {% if penalty == '1' %}
                                        <span class="badge bg-success rounded-circle" style="width: 12px; height: 12px;"> </span> <!-- Goal -->
                                    {% else %}
                                        <span class="badge bg-danger rounded-circle" style="width: 12px; height: 12px;"> </span> <!-- Miss -->
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </td>
                    <td>{{ match.date }}</td>
                    <td>
                        <span class="badge bg-success">Completed</span>
                    </td>
                {% else %}
                    <td>{{ match.team1 }} vs {{ match.team2 }}</td>
                    <td>{{ match.date }}</td>
                    <td>
                        <span class="badge bg-warning">Upcoming</span>
                    </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <a class="btn btn-primary" href="/">Back to Home</a>
</div>

{% endblock %}
